<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="APP_UI.Properties.Settings.db_homologConnectionString"
      connectionString="Data Source=DESKTOP-TJ9B8MO\SQLEXPRESS;Initial Catalog=db_homolog;User ID=admin;Password=admin"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <!--//PC RAFA-->
     <!--<add key="cn" value="Data Source=LOCALHOST;Initial Catalog=db_homolog;Persist Security Info=True;User ID=adm;Password=adm2112;Min Pool Size=5;Max Pool Size=250; Connect Timeout=30"/>-->
    <add key="cn" value="Data Source=LAPTOP-U10LUHQD\SQLEXPRESS;Initial Catalog=db_homolog;Persist Security Info=True;Integrated security=true;Min Pool Size=5;Max Pool Size=250; Connect Timeout=30"/>


     <!--PC JOÃO-->
    <!--<add key="cn" value="Data Source=DESKTOP-V3O095K\SQLEXPRESS;Initial Catalog=db_homolog;Persist Security Info=True;User ID=admin;Password=admin;Min Pool Size=5;Max Pool Size=250; Connect Timeout=30"/>-->

   <!--<add key="cn" value="Data Source=DESKTOP-MP2C2DR\SQLEXPRESS;Initial Catalog=db_homolog;Persist Security Info=True;User ID=admin;Password=admin;Min Pool Size=5;Max Pool Size=250; Connect Timeout=30"/>-->

</appSettings>
</configuration>